<h1>Listing folks</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @folks.each do |folk| %>
  <tr>
    <td><%= folk.name %></td>
    <td><%= link_to 'Show', folk %></td>
    <td><%= link_to 'Edit', edit_folk_path(folk) %></td>
    <td><%= link_to 'Destroy', folk, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Folk', new_folk_path %>
